body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #cce7ff;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #0056b3;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 18px;
    margin-top: 15px;
    border: 2px solid #0056b3;
    border-radius: 5px;
    box-sizing: border-box;
}

.opcoes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}